{% extends 'myapp/base.html' %}
{% block title %}Course Detail{% endblock %}
{% block myhdg %}{% endblock %}
{% block body_block %}
    {% if course %}
        <h2>Course</h2>
            <p>Name: {{ course.name }}</p>
            <p>Interested: {{ course.interested }}</p>
            <p>Price: {{ course.price }}</p>
            {% if course.for_everyone == False %}
                <p>This course is not for everyone</p>
            {% endif %}
    {% else %}
        <strong>There are no available course!</strong>
    {% endif %}

    <form method="post">
        {%csrf_token%}
        {{form}}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}